<body><nav class="navbar navbar-expand-lg py-0 navbar-white bg-white shadow-sm">
    <div class="container">
        <a href="#" class="navbar-brand">
            <!--Logo Image -->
            <img src="../../assets/Images/VedikaLogo1.png" alt="Vedikas" width="160px" height="50px" alt=""
                class="logo">
            <!-- Logo Text-->
            <!-- <span class="text-uppercase font-weight-bold">Vedikas</span> -->
        </a>
    </div>

    <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/login" routerLinkActive="active"><span class="glyphicon glyphicon-log-in">
                    Login</span></a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li><a routerLink="/help" routerLinkActive="active"><span class="glyphicon glyphicon-user"></span>Help</a></li>


    </ul>
    
</nav>

<app-searchbar></app-searchbar>
<app-footer></app-footer>
</body>
