

    <body>

        <div class="bg-img">
            <form class="container">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                     <h6 class="card-subtitle mb-1">{{ data.id }}</h6>
                        <h5 class="card-title">{{ data.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ data.street }}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">{{ data.state }}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">{{ data.city }}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">{{ data.zipcode }}</h6> 
                        <hr>
                        <p class="card-text">Very Nice Function Hall,Has Two a/c guest rooms ,Valet parking and Gives The Complete Satisfaction.   </p>
                        
                    </div>
                </div>
            </form>
        </div>

    </body>


